/* nav */
.nav {
  display: flex;
  padding: 20px;
  background-color: rgba(53, 70, 53, 1);
  justify-content: space-between;
  align-items: center;
  color: rgba(244, 243, 237, 1);
  padding: 20px 0px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  height: 50px;
}
.nav > .icon {
  display: flex;
  align-items: center;
  margin-left: 60px;
}
.iconimg {
  width: 60px;
  height: 60px;
  padding: 0 10px;
}
.iconimg > img {
  width: 100%;
  height: 100%;
}
.icon > .text {
  font-size: 1.2rem;
}
.nav > .title {
  font-family: "Joti One", serif;
  font-size: 2.5rem;
  transform: translateX(50%);
}
.nav > .table {
  margin-right: 50px;
}
.nav > .table > .contents {
  display: flex;
  justify-content: flex-start;
}
nav > .table > .contents > .content {
  padding: 0 30px;
  font-size: 1.2rem;
}
nav > .table > .contents > .content > .link {
  color: rgba(244, 243, 237, 1);
}

/* sidebar */
.sidebar {
  color: rgba(244, 243, 237, 1);
  width: 300px;
  height: 100vh;
  background-color: rgba(48, 30, 68, 1);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 90px;
  z-index: 1;
}
.sidebar > .numbermenu > div {
  font-size: 20px;
  margin-top: 20px;
}
.sidebar > .numbermenu > .cardnumber {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 30px;
}
.sidebar > .numbermenu > .cardnumber > li {
  background-color: rgba(244, 243, 237, 1);
  margin-right: 20px;
  width: 40px;
  text-align: center;
  padding: 5px 10px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.sidebarimg {
  width: 100px;
  height: 100px;
}
.sidebarimg > img {
  width: 100%;
  height: 100%;
  margin-left: -15px;
}
.sidebar > .rankmenu > ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}
.sidebar > .rankmenu > ul > li {
  font-size: 20px;
  padding: 10px 15px;
  position: relative;
  text-align: center;
  cursor: pointer;
  width: 30%;
}
.sidebar > .rankmenu > ul > li::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: rgba(244, 243, 237, 1);
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: -5px;
  z-index: 6;
}

/* luler sidebar */
.sidebar > .rankmenu > ul > .lulerrankmenu {
  width: 100px;
}

/* footer */
.footer {
  width: 100%;
  background-color: rgba(48, 23, 22, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  position: relative;
  height: 80px;
  color: rgba(244, 243, 237, 1);
  font-size: 20px;
}

/* card */

.card {
  background-color: rgba(244, 243, 237, 1);
  width: 70%;
  min-height: 60vh;
  /* min-height: 100vh; */
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-left: 200px;
  padding-bottom: 200px;
  overflow: hidden;
}
.card > .cardset {
  margin: 45px 45px 20px 45px;
  position: relative;
  width: 160px;
  height: 225px;
}
.card > .cardset > .cardinfo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  border-radius: 10px;
}
.card > .cardset > .cardtitle {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  transition: 0.2s;
}
.card > .cardset:hover .cardinfo {
  transition: 0.3s;
  transform: translate(10%, -5%);
  box-shadow: rgba(8, 177, 243, 0.4) -3px 2px, rgba(8, 177, 243, 0.3) -6px 4px,
    rgba(8, 177, 243, 0.2) -9px 6px, rgba(8, 177, 243, 0.1) -12px 8px,
    rgba(8, 176, 243, 0.05) -15px 10px;
}
.card > .cardset:hover .cardtitle {
  bottom: -60px;
}
.card > .cardset > .cardinfo > button {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  cursor: pointer;
  background-color: rgba(240, 248, 255, 0);
}
.card > .cardset > .cardinfo > button > img {
  width: 100%;
  height: 100%;
}
.card > .cardset > .cardbgc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card > .cardset > .cardbgc > img {
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* loadpage */

.loadpage {
  width: 100%;
  height: 92vh;
  background-color: rgba(48, 23, 22, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadpage > .loadimg {
  position: relative;
  transform-style: preserve-3d;
  width: 60px;
  height: 83px;
  /* animation-name: cardrever;
  animation-duration: 2s; */
  animation: cardrever 2s infinite cubic-bezier(0, 0, 1, 1);
  animation-iteration-count: infinite;
}

.loadpage > .loadimg > .imgfront {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateZ(330deg);
}
.loadpage > .loadimg > .imgback {
  transform: rotateZ(330deg);
  position: absolute;
  width: 100%;
  height: 100%;
}
.loadpage > .loadtext {
  margin-left: 40px;
  font-size: 1.5rem;
  width: 100px;
  display: flex;
  flex-wrap: nowrap;
}
.loadpage > .loadtext > p {
  margin-right: 0.5rem;
  color: rgba(244, 243, 237, 1);
}
.loadpage > .loadtext > p:nth-child(1) {
  animation-name: textjump;
  animation-duration: 1.5s;
  /* animation: textjump 2s infinite cubic-bezier(0, 0, 1, 1); */
  animation-iteration-count: infinite;
}
.loadpage > .loadtext > p:nth-child(2) {
  animation-name: textjump;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-delay: 0.1s;
}
.loadpage > .loadtext > p:nth-child(3) {
  animation-name: textjump;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-delay: 0.2s;
}
.loadpage > .loadtext > p:nth-child(4) {
  animation-name: textjump;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-delay: 0.3s;
}
.loadpage > .loadtext > p:nth-child(5) {
  animation-name: textjump;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-delay: 0.4s;
}
.loadpage > .loadtext > p:nth-child(6) {
  animation-name: textjump;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}
.loadpage > .loadtext > p:nth-child(7) {
  animation-name: textjump;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-delay: 0.6s;
}
.loadpage > .loadtext > p:nth-child(8) {
  animation-name: textjump;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-delay: 0.7s;
}
.loadpage > .loadtext > p:nth-child(9) {
  animation-name: textjump;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-delay: 0.8s;
}
.loadpage > .loadtext > p:nth-child(10) {
  animation-name: textjump;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-delay: 0.9s;
}
@keyframes cardrever {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
@keyframes textjump {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}
/* cardInfo  */
.cardboard {
  width: 640px;
  height: 400px;
  position: fixed;
  top: 30vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(53, 70, 53, 0.95);
  z-index: 5;
  color: rgba(244, 243, 237, 1);
}
.cardboard > .close {
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.cardboard > .close > button {
  width: 25px;
  height: 25px;
  margin: 10px;
  background-color: rgba(48, 30, 68, 1);
  color: rgba(244, 243, 237, 1);
  border: 0px;
  border-radius: 5px;
}
.cardboard > .cardboardInfo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.cardboard > .cardboardInfo > .cbimg {
  background-color: rgba(48, 23, 22, 1);
  width: 270px;
  height: 320px;
  margin: 0 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.cardboard > .cardboardInfo > .cbimg:hover > .cbimgset {
  transform: rotateY(180deg);
}
.cardboard > .cardboardInfo > .cbimg > .cbimgset {
  width: 90%;
  height: 90%;
  position: relative;
  border-radius: 8px;
  transition: 0.2s;
  transform-style: preserve-3d;
}
.cardboard > .cardboardInfo > .cbimg > .cbimgset > img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.frontimg,
.backimg {
  backface-visibility: hidden;
  border-radius: 7px;
}
.backimg {
  transform: rotateY(180deg);
}
.cardboard > .cardboardInfo > .cbimg > a {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.2s;
  background-color: rgba(75, 162, 110, 1);
  color: rgba(244, 243, 237, 1);
  padding: 0 10px;
  border-radius: 3px;
}
.cardboard > .cardboardInfo > .cbimg:hover > .imglink {
  top: 78%;
}
.cardboard > .cardboardInfo > .cbicon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  object-fit: cover;
  padding-top: 5px;
}
.cardboard > .cardboardInfo > .cbicon > .img {
  width: 100%;
}
.cardboard > .cardboardInfo > .cbtext {
  font-size: 24px;
  width: 300px;
  padding-right: 45px;
}
.cardboard > .cardboardInfo > .cbtext > div {
  margin-bottom: 20px;
  width: 100%;
}
.cardboard > .cardboardInfo > .cbtext > div > p {
  font-size: 16px;
  margin: 0;
  width: 100%;
  display: block;
}
